<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.StudentPlanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Student Scheduler"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.C196">
        <receiver
            android:name="com.example.StudentPlanner.UI.receiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name="com.example.StudentPlanner.UI.DetailedAssessmentActivity"
            android:exported="false"
            android:label="Assessment Details"
            android:parentActivityName="com.example.StudentPlanner.UI.AssessmentActivity" />
        <activity
            android:name="com.example.StudentPlanner.UI.DetailedCourseActivity"
            android:exported="false"
            android:label="Course Details"
            android:parentActivityName="com.example.StudentPlanner.UI.CourseActivity" />
        <activity
            android:name="com.example.StudentPlanner.UI.DetailedTermActivity"
            android:exported="false"
            android:label="Term Details"
            android:parentActivityName="com.example.StudentPlanner.UI.TermActivity" />
        <activity
            android:name="com.example.StudentPlanner.UI.TermActivity"
            android:exported="false"
            android:label="Terms"
            android:parentActivityName="com.example.StudentPlanner.UI.MainActivity" />
        <activity
            android:name="com.example.StudentPlanner.UI.AssessmentActivity"
            android:exported="false"
            android:label="Assessments"
            android:parentActivityName="com.example.StudentPlanner.UI.MainActivity" />
        <activity
            android:name="com.example.StudentPlanner.UI.CourseActivity"
            android:exported="false"
            android:label="Courses"
            android:parentActivityName="com.example.StudentPlanner.UI.MainActivity" />
        <activity
            android:name="com.example.StudentPlanner.UI.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>